/**
 * @name Discorb
 * @author Huderon
 * @version 0.0.1
 * @description Reimagining of Discord's UI in a hand-drawn style, based on CHOLE's drawing.
 * @source https://github.com/Huderon/Discorb
*/

@import url('https://huderon.github.io/Discorb/Discorb.css');

@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
:root {
  --font-primary: "Mynerve", cursive;
  --font-display: "Mynerve", cursive;
  --font-headline: "Mynerve", cursive;
}

.theme-dark {
  --background-primary: hsl(220, 8%, 21%);
  --background-secondary: hsl(220, 8%, 21%);
  --background-secondary-alt: hsl(220, 8%, 21%);
  --background-tertiary: hsl(220, 8%, 21%);
  --background-tertiary-alt: hsl(220, 8%, 21%);
  --channeltextarea-background: hsl(220, 8%, 21%);
  --clr-orange: hsl(39, 92%, 76%);
  --clr-magenta: hsl(318, 21%, 63%);
  --clr-light-blue: hsl(193, 34%, 86%);
  --clr-yellow: hsl(63, 86%, 83%);
  --clr-green: hsl(85, 57%, 71%);
  --clr-pink: hsl(340, 75%, 79%);
  --clr-red: hsl(0, 77%, 70%);
  --clr-blue: rgb(148, 192, 204);
  --clr-cyan: hsl(174, 71%, 67%);
  --clr-purple: hsl(289, 21%, 73%);
  --clr-accent: hsl(20, 43%, 97%);
}

.theme-light {
  --background-primary: hsl(30, 75%, 97%);
  --background-secondary: hsl(30, 75%, 97%);
  --background-secondary-alt: hsl(30, 75%, 97%);
  --background-tertiary: hsl(30, 75%, 97%);
  --background-tertiary-alt: hsl(30, 75%, 97%);
  --channeltextarea-background: hsl(30, 75%, 97%);
  --clr-orange: hsl(22, 79%, 64%);
  --clr-magenta: hsl(338, 31%, 44%);
  --clr-light-blue: hsl(200, 72%, 57%);
  --clr-yellow: hsl(48, 100%, 59%);
  --clr-green: hsl(99, 45%, 67%);
  --clr-pink: hsl(337, 82%, 75%);
  --clr-red: hsl(353, 77%, 54%);
  --clr-blue: hsl(206, 95%, 36%);
  --clr-cyan: hsl(181, 99%, 37%);
  --clr-purple: hsl(248, 30%, 49%);
  --clr-accent: hsl(0, 0%, 2%);
}