.messageListItem-ZZ7v6g .cozyMessage-1DWF9U .contents-2MsGLg {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 7px 12px;
  border: 3px solid currentColor;
  --brd-rad-0: 60px 80px 20px 40px / 30px 50px 70px 10px;
  --brd-rad-1: 50px 20px 80px 30px / 30px 60px 10px 40px;
  --brd-rad-2: 100px 40px 60px 30px / 40px 80px 20px 50px;
  --brd-rad-3: 70px 20px 90px 40px / 60px 30px 80px 10px;
  --brd-rad-4: 40px 60px 20px 80px / 50px 10px 70px 30px;
  --brd-rad-5: 80px 30px 50px 70px / 20px 60px 40px 90px;
  --brd-rad-6: 60px 20px 80px 40px / 30px 50px 70px 10px;
  --brd-rad-7: 30px 80px 40px 50px / 90px 20px 60px 70px;
  --brd-rad-8: 90px 30px 70px 50px / 10px 40px 80px 20px;
  --brd-rad-9: 50px 60px 20px 70px / 30px 80px 10px 40px;
}
.messageListItem-ZZ7v6g[id$="0"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-0);
  border-radius: var(--brd-rad-0);
}
.messageListItem-ZZ7v6g[id$="1"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-1);
  border-radius: var(--brd-rad-1);
}
.messageListItem-ZZ7v6g[id$="2"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-2);
  border-radius: var(--brd-rad-2);
}
.messageListItem-ZZ7v6g[id$="3"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-3);
  border-radius: var(--brd-rad-3);
}
.messageListItem-ZZ7v6g[id$="4"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-4);
  border-radius: var(--brd-rad-4);
}
.messageListItem-ZZ7v6g[id$="5"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-5);
  border-radius: var(--brd-rad-5);
}
.messageListItem-ZZ7v6g[id$="6"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-6);
  border-radius: var(--brd-rad-6);
}
.messageListItem-ZZ7v6g[id$="7"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-7);
  border-radius: var(--brd-rad-7);
}
.messageListItem-ZZ7v6g[id$="8"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-8);
  border-radius: var(--brd-rad-8);
}
.messageListItem-ZZ7v6g[id$="9"] .contents-2MsGLg:has(.messageContent-2t3eCI:not(:empty)) {
  color: var(--brd-acnt-clr-9);
  border-radius: var(--brd-rad-9);
}