.container-2o3qEW {
    .membersWrap-3NUR2t {
        overflow: hidden;
        border: 3px solid var(--clr-accent);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        min-height: -webkit-fill-available;
    }
  }