.panels-3wFtMD {
margin-bottom: 72px;
.container-YkUktl {
    box-sizing: border-box;
    height: 70px;
    padding: 0 18px;
    width: calc(240px + 72px);
    position: absolute;
    left: -72px;
    bottom: 0;
    justify-content: space-between;
    }
}