@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

:root {
  --font-primary: "Mynerve", cursive;
  --font-display: "Mynerve", cursive;
  --font-headline: "Mynerve", cursive;

  --clr-orange: hsl(22, 79%, 64%);
  --clr-magenta: hsl(338, 31%, 44%);
  --clr-light-blue: hsl(200, 72%, 57%);
  --clr-yellow: hsl(48, 100%, 59%);
  --clr-green: hsl(99, 45%, 67%);
  --clr-pink: hsl(337, 82%, 75%);
  --clr-red: hsl(353, 77%, 54%);
  --clr-blue: hsl(206, 95%, 36%);
  --clr-cyan: hsl(181, 99%, 37%);
  --clr-purple: hsl(248, 30%, 49%);
}
