@use '../assets';

.barBase-3xxDXu {
    -webkit-transition: unset;
    transition: unset;
    opacity: 1;
    &.newMessagesBar-1hF-9G {
        top: 5px;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: 3px solid var(--clr-accent);
        background-color: var(--background-primary);
        .barButtonIcon-bMvzp2 > path {
            d: path(assets.$path_new-message);
        }
    }
    &.jumpToPresentBar-1cEnH0 {
        bottom: 13px;
        padding-bottom: 0;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: 3px solid var(--clr-accent);
        background-color: var(--background-primary);
        .barButtonIcon-bMvzp2 {
            width: 12px;
            height: 12px;
            path {
                d: path(assets.$path_chevron);
            }
        }
    }
    .barButtonBase-Sk2mdB {
        color: var(--clr-accent);
    }
}