@use '../assets';

.chat-2ZfjoI {
    .title-31SJ6t {
        overflow: hidden;
        border: 3px solid var(--clr-accent);
        border-radius: 245px 55px 275px 64px/55px 245px 64px 275px;
        .children-3xh0VB {
            .icon-2xnN2Y {
                path[d^="M5.88657 21C5.57547"] {
                    d: path(assets.$path_pound);
                }
                path[d^="M11.383 3.07904C11.009"] {
                    d: path(assets.$path_volume-up);
                }
                path[d^="M17 11V7C17 4.243"] {
                    d: path(assets.$path_locked);
                }
                path[d^="M6.56929 14.6869H2.34375C1"] {
                    d: path(assets.$path_comments);
                }
                path[d^="M33 34.5833V7"] {
                    d: path(assets.$path_rules);
                }
                &:has(path[d="M3.9 8.26H2V15.2941H3.9V8.26Z"]) {
                    path:first-child {
                        d: path(assets.$path_megaphone);
                    }
                    path:not(:first-child) {
                        display: none;
                    }
                }
                &:has(path[d^="M5.00328 17.5C4.69218"]) {
                    &:has(path[d^="M10.4 14C10.4"]) {
                        path:first-child {
                            d: path(assets.$path_browse);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                }
                &:has(path[d^="M5.43309 21C5.35842"]) {
                    &:has(path[d^="M13.4399 12.96C12"]) {
                        path:first-child {
                            d: path(assets.$path_thread);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                }
                &:has(path[d^="M14 8C14 7.44772"]){
                    &:has(path[d^="M19.8914 3.80204L22.2438"]) {
                        path:first-child {
                            d: path(assets.$path_restricted-channel);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                    &:has(path[d^="M21.025 5V4C21.025"]) {
                        path:first-child {
                            d: path(assets.$path_locked-channel);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                }
                &:has(path[d^="M13 4C13 3.66767"]) {
                    &:has(path[d^="M21.025 4V5C21.5635"]) {
                        path:first-child {
                            d: path(assets.$path_locked-comments);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                }
                &:has(path[d^="M19 3h-1V1h-"]) {
                    path:first-child {
                        d: path(assets.$path_calendar);
                    }
                    :not(:first-child) {
                        display: none;
                    }
                }
                &:has(path[d^="M22.545 4.91992V3"]):has(path[d^="M15.44 6.99992C15"]):has(path[d^="M13.44 12.9599C12"]) {
                    path:first-child {
                        d: path(assets.$path_locked-thread);
                    }
                    path:not(:first-child) {
                        display: none;
                    }
                }
            }
            &::after {
                display: none;
            }
        }
        .toolbar-3_r2xA {
            .iconWrapper-2awDjA {
                .icon-2xnN2Y{
                    &:has(path[d^="M5.43309 21C5.35842"]) {
                        path:first-child {
                            d: path(assets.$path_thread);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                    &:has(path[d^="M18 "]) {
                        &:has(path[d^="M18 9V14C18"]) {
                            path {
                                d: path(assets.$path_bell);
                            }
                        }
                        &:has(path[d^="M18 10.5283L10.5287"]) {
                            path:first-child {
                                d: path(assets.$path_silent-bell);
                                color: var(--clr-red);
                            }
                            path:not(:first-child) {
                                display: none;
                            }
                        }
                    }
                    &:has(path[d^="M22 12L12.101"]) {
                        path {
                            d: path(assets.$path_pin);
                        }
                    }
                    &:has(path[d^="M14.8834 11.9077C16"]):has(path[d^="M14 8.00598C14"]) {
                        path:first-child {
                            d: path(assets.$path_users);
                        }
                        path:not(:first-child) {
                            display: none;
                        }
                    }
                    .updateIconForeground-2V_zo4 {
                        d: path(assets.$path_download)
                    }
                    &:has(path[d^="M19 3H4.99C3.88"]) {
                        path {
                            d: path(assets.$path_inbox);
                        }
                    }
                    &:has(path[d^="M12 2C6.486 2"]) {
                        path {
                            d: path(assets.$path_help-alt);
                        }
                    }
                }
            }
            .search-2Mwzzq {
                .icon-tZMHgY {
                    &:not(.clear-2KQ7l1) {
                        .iconContainer-1RqWJj {
                            width: 24px;
                            height: 24px;
                            .icon-18rqoe {
                                transform: none;
                                -webkit-transform: none;
                                path {
                                    d: path(assets.$path_search);
                                }
                            }
                        }
                    }
                    &.clear-2KQ7l1 {
                        .iconContainer-1RqWJj {
                            .icon-18rqoe {
                                transform: none;
                                -webkit-transform: none;
                                path {
                                    d: path(assets.$path_cancel-alt-2)
                                }
                            }
                        }
                    }
                }       
            }
        }
    }
    .content-1jQy2l {
        &::before {
            display: none;
        }
    }
}