@use '../assets';

.scrollableContainer-15eg7h {
    border: 3px solid var(--clr-purple);
    border-radius: 245px 55px 275px 64px/55px 245px 64px 275px;

    .attachWrapper-3slhXI {
        .attachButtonPlus-3IYelE {
            d: path(assets.$path_plus);
        }
    }
    .buttons-uaqb-5 {
        .emojiButton-3FRTuj .sprite-2lxwfc {
				mask: url(assets.$icon_emoji) center/cover no-repeat;
                background: var(--interactive-normal);
                transform: none !important;
                &:hover {
                    background: var(--interactive-hover);
                }
			}
        .stickerButton-1-nFh2 {
            .stickerIcon-3Jx5SE {
                width: 24px !important;
                height: 24px !important;
                color: var(--interactive-normal);
                path:first-child {
                    d: path(assets.$path_sticker);
                }
                path:not(:first-child) {
                    display: none;
                }
                &:hover {
                    color: var(--interactive-hover);
                }
            }
        }
        .button-2fCJ0o {
            svg:not(.icon-1d5zch, .sendIcon-1HcEzu) {
                path {
                    d: path(assets.$path_gift);
                }
            }
            svg.icon-1d5zch {
                path {
                    d: path(assets.$path_gif);
                }
            }
            svg.sendIcon-1HcEzu {
                path{
                    d: path(assets.$path_send);
                }
            }
        }
        .invisible-typing-button {
            &.enabled {
                path {
                    d: path(assets.$path_keyboard);
                }
            }
            &:not(.enabled) {
                svg {
                    color: var(--clr-red);
                    path {
                        d: path(assets.$path_silent-keyboard);
                    }
                    rect {
                        display: none;
                    }
                }
            }
        } 
    }
}
